/*
Creator Plus Variables available - as used in Content Styler:
--primary-dark , --primary,  --neutral-one-head,  --font-family-one
*/
:root {
  --white: #FFFFFF;
  --black: #000000;
  --primary: #008EAB;
  --primary-dark: #035670;
  --primary-darker: #004489;
  --primary-light: #00AFAA;
  --secondary: #006FBF;
  --secondary-dark: #006FBF;
  --secondary-light: #29A6FF;
  --secondary-light-darker: #F1F5FB;
  --neutral-one: #494C4E;
  --neutral-one-head: #494C4E;
  --neutral-two: #6E7376;
  --neutral-three: #CDD5DC;
  --neutral-four: #F9FBFF;
  --status-error: #CD2026;
  --status-warning: #E87511;
  --status-success: #46A661;
  /* Buttons */
  --btn-text: #FFFFFF;
  --btn-default: #006FBF;
  --btn-hover: #006FBF;
  --btn-focus: #006FBF;
  --btn-focus-border: #FFFFFF;
  --btn-focus-shadow: #006FBF;
  --btn-disabled: #006FBF;
  --btn-secondary-text: #494C4E;
  --btn-secondary-default: #E3E9F1;
  --btn-secondary-hover: #CDD5DC;
  --btn-secondary-focus: #CDD5DC;
  --btn-secondary-focus-border: #FFFFFF;
  --btn-secondary-focus-shadow: #006FBF;
  --btn-secondary-disabled: rgba(227, 233, 241, 0.5);
  --icon-dark: #494C4E;
  /* Accordion */
  --accordion-brdr-clr: #CDD5DC;
  --accordion-header-clr: #006FBF;
  --accordion-expanded: #004489;
  --accordion-icon-clr: #494C4E;
  --accordion-icon-clr-expanded: #494C4E;
  --accordion-body-bg: #F9FBFF;
  --accordion-number-clr: #FFFFFF;
  --accordion-number-bg: #006FBF;
  /* Tabs */
  --tab-border: 1px solid #CDD5DC;
  --tab-border-active: 1px dashed #CDD5DC;
  --tab-active: #004489;
  --tab-content-clr: #494C4E; }

/*========= Blockquotes ==========*/
/* Regular Blockquote */
.d2l-element blockquote:not(.blockquote-lg) {
  border-left-color: var(--primary); }

.d2l-element blockquote.blockquote-lg:before {
  background-color: var(--primary); }

/*========= Text Elements ==========*/
/* Styling for text elements, for example <p>, <span>, <em> and <strong>. */
.d2l-element .instruction {
  /* Add visual styling to Instruction Text for Interactive elements - for example Accordions, Flip Cards and Tabs. */
  color: var(--black); }

/*========= Callouts ==========*/
.d2l-element .card-standard,
.d2l-element .card-graphic {
  border-color: var(--primary); }

.d2l-element .card-standard .card-body h2,
.d2l-element .card-standard .card-body h3,
.d2l-element .card-standard .card-body h4,
.d2l-element .card-standard .card-body h5,
.d2l-element .card-standard .card-body h6,
.d2l-element .card-standard .card-body .card-header,
.d2l-element .card-graphic .card-body h2,
.d2l-element .card-graphic .card-body h3,
.d2l-element .card-graphic .card-body h4,
.d2l-element .card-graphic .card-body h5,
.d2l-element .card-graphic .card-body h6,
.d2l-element .card-graphic .card-body .card-header {
  color: var(--neutral-one); }

.d2l-element .card-standard .card-body ol,
.d2l-element .card-standard .card-body p,
.d2l-element .card-standard .card-body ul,
.d2l-element .card-graphic .card-body ol,
.d2l-element .card-graphic .card-body p,
.d2l-element .card-graphic .card-body ul {
  color: #494C4E; }

.d2l-element .card-standard.informative,
.d2l-element .card-graphic.informative {
  border-color: #B5BDC2;
  border-left-color: #29A6FF; }

.d2l-element .card-standard.informative .card-body h2,
.d2l-element .card-standard.informative .card-body h3,
.d2l-element .card-standard.informative .card-body h4,
.d2l-element .card-standard.informative .card-body h5,
.d2l-element .card-standard.informative .card-body h6,
.d2l-element .card-graphic.informative .card-body h2,
.d2l-element .card-graphic.informative .card-body h3,
.d2l-element .card-graphic.informative .card-body h4,
.d2l-element .card-graphic.informative .card-body h5,
.d2l-element .card-graphic.informative .card-body h6 {
  color: #006FBF; }

.d2l-element .card-standard.alert,
.d2l-element .card-graphic.alert {
  border-color: #B5BDC2;
  border-left-color: #FFBA59; }

.d2l-element .card-standard.alert .card-body h2,
.d2l-element .card-standard.alert .card-body h3,
.d2l-element .card-standard.alert .card-body h4,
.d2l-element .card-standard.alert .card-body h5,
.d2l-element .card-standard.alert .card-body h6,
.d2l-element .card-graphic.alert .card-body h2,
.d2l-element .card-graphic.alert .card-body h3,
.d2l-element .card-graphic.alert .card-body h4,
.d2l-element .card-graphic.alert .card-body h5,
.d2l-element .card-graphic.alert .card-body h6 {
  color: #995400; }

.d2l-element .card-standard.ref,
.d2l-element .card-graphic.ref {
  border-color: #B5BDC2;
  border-left-color: #00A490; }

.d2l-element .card-standard.ref .card-body h2,
.d2l-element .card-standard.ref .card-body h3,
.d2l-element .card-standard.ref .card-body h4,
.d2l-element .card-standard.ref .card-body h5,
.d2l-element .card-standard.ref .card-body h6,
.d2l-element .card-graphic.ref .card-body h2,
.d2l-element .card-graphic.ref .card-body h3,
.d2l-element .card-graphic.ref .card-body h4,
.d2l-element .card-graphic.ref .card-body h5,
.d2l-element .card-graphic.ref .card-body h6 {
  color: #00635E; }

.d2l-element .card-standard.gif-video,
.d2l-element .card-graphic.gif-video {
  background-color: #F7F7F7;
  border-top-color: #006FBF; }

.d2l-element .card-standard.gif-video .card-body h2,
.d2l-element .card-standard.gif-video .card-body h3,
.d2l-element .card-standard.gif-video .card-body h4,
.d2l-element .card-standard.gif-video .card-body h5,
.d2l-element .card-standard.gif-video .card-body h6,
.d2l-element .card-graphic.gif-video .card-body h2,
.d2l-element .card-graphic.gif-video .card-body h3,
.d2l-element .card-graphic.gif-video .card-body h4,
.d2l-element .card-graphic.gif-video .card-body h5,
.d2l-element .card-graphic.gif-video .card-body h6 {
  color: var(--neutral-one); }

@media screen and (max-width-color: 768px) {
  .d2l-element .card-standard.gif-video .card-body h2,
  .d2l-element .card-standard.gif-video .card-body h3,
  .d2l-element .card-standard.gif-video .card-body h4,
  .d2l-element .card-standard.gif-video .card-body h5,
  .d2l-element .card-standard.gif-video .card-body h6,
  .d2l-element .card-graphic.gif-video .card-body h2,
  .d2l-element .card-graphic.gif-video .card-body h3,
  .d2l-element .card-graphic.gif-video .card-body h4,
  .d2l-element .card-graphic.gif-video .card-body h5,
  .d2l-element .card-graphic.gif-video .card-body h6 {
    color: var(--neutral-one); } }

/*========= Footers ==========*/
.d2l-element footer {
  border-top-color: #B5BDC2; }

/*========= Jumbotrons ==========*/
.d2l-element .jumbotron {
  background-color: var(--primary-dark);
  color: #FFFFFF; }

.d2l-element .jumbotron h1,
.d2l-element .jumbotron h2,
.d2l-element .jumbotron h3,
.d2l-element .jumbotron h4,
.d2l-element .jumbotron h5,
.d2l-element .jumbotron h6,
.d2l-element .jumbotron p,
.d2l-element .jumbotron ul,
.d2l-element .jumbotron ol,
.d2l-element .jumbotron ol.large-number li::before,
.d2l-element .jumbotron a {
  color: var(--white); }

.d2l-element .jumbotron a:hover,
.d2l-element .jumbotron a:focus,
.d2l-element .jumbotron a:active {
  color: var(--white); }

.d2l-element .jumbotron .icon {
  fill-color: var(--white);
  stroke-color: var(--white); }

/*========= Timelines ==========*/
.d2l-element .timeline:before {
  background-color: var(--neutral-three); }

.d2l-element .timeline .timeline-badge {
  background-color: var(--neutral-three); }

.d2l-element .timeline .timeline-panel {
  background-color: var(--neutral-four);
  border-color: var(--neutral-three); }

.d2l-element .timeline .timeline-panel:before {
  border-right-color: var(--neutral-three);
  border-left-color: var(--neutral-three); }

.d2l-element .timeline .timeline-panel:after {
  border-left-color: var(--neutral-four);
  border-right-color: var(--neutral-four); }

.d2l-element .timeline .timeline-heading h2,
.d2l-element .timeline .timeline-heading h3,
.d2l-element .timeline .timeline-heading h4,
.d2l-element .timeline .timeline-heading h5,
.d2l-element .timeline .timeline-heading h6 {
  color: var(--neutral-one); }

.d2l-element .timeline .timeline-body ol,
.d2l-element .timeline .timeline-body p,
.d2l-element .timeline .timeline-body ul {
  color: var(--neutral-two); }

/*========= Accordions ==========*/
.d2l-element > .accordion .collapsing,
.d2l-element > .accordion .show {
  border-top-color: var(--accordion-brdr-clr); }

.d2l-element > .accordion :not(.card-standard).card .card-title button:not(.imgholder) {
  border-color: var(--accordion-brdr-clr);
  color: var(--accordion-header-clr); }

.d2l-element > .accordion :not(.card-standard).card .card-title button:not(.imgholder)::before {
  background-color: var(--accordion-header-clr); }

.d2l-element > .accordion :not(.card-standard).card .card-title button:not(.imgholder)[aria-expanded=true] {
  background-color: var(--white);
  color: var(--accordion-expanded); }

.d2l-element > .accordion :not(.card-standard).card .card-title button:not(.imgholder)[aria-expanded=false].btn-link {
  color: var(--secondary-dark); }

.d2l-element > .accordion :not(.card-standard).card .card-header {
  background-color: var(--white); }

.d2l-element > .accordion :not(.card-standard).card:last-child .card-body {
  border-bottom-color: #b5bdc2; }

.d2l-element > .accordion :not(.d2l-tabccordion-card) > :not(.card-standard):not(.card-graphic) > .card-body {
  background-color: var(--accordion-body-bg);
  border-color: var(--accordion-brdr-clr); }

/* Accordion-color: Numbered */
.d2l-element .d2l-accordion-num :not(.card-standard):not(.card-graphic):not(.d2l-tabccordion-card) > .card-title button:before, .d2l-element .d2l-accordion-num .accordion-num > .card-title button:before, .d2l-element .accordion-num :not(.card-standard):not(.card-graphic):not(.d2l-tabccordion-card) > .card-title button:before, .d2l-element .accordion-num .accordion-num > .card-title button:before {
  background-color: var(--accordion-number-bg);
  border-right-color: var(--accordion-brdr-clr);
  border-bottom-color: var(--accordion-brdr-clr);
  color: var(--accordion-number-clr); }

.d2l-element .d2l-accordion-num :not(.card-standard):not(.card-graphic):not(.d2l-tabccordion-card) > .card-title button[aria-expanded=true]::after, .d2l-element .d2l-accordion-num .accordion-num > .card-title button[aria-expanded=true]::after, .d2l-element .accordion-num :not(.card-standard):not(.card-graphic):not(.d2l-tabccordion-card) > .card-title button[aria-expanded=true]::after, .d2l-element .accordion-num .accordion-num > .card-title button[aria-expanded=true]::after {
  background-color: var(--secondary); }

.d2l-element .d2l-accordion-num :not(.card-standard):not(.card-graphic):not(.d2l-tabccordion-card) > .card-title button[aria-expanded=false]::after, .d2l-element .d2l-accordion-num .accordion-num > .card-title button[aria-expanded=false]::after, .d2l-element .accordion-num :not(.card-standard):not(.card-graphic):not(.d2l-tabccordion-card) > .card-title button[aria-expanded=false]::after, .d2l-element .accordion-num .accordion-num > .card-title button[aria-expanded=false]::after {
  background-color: var(--secondary); }

.d2l-element .d2l-accordion-num.d2l-accordion-alt-icon :not(.card-standard):not(.card-graphic).card .card-title button::after, .d2l-element .accordion-num.d2l-accordion-alt-icon :not(.card-standard):not(.card-graphic).card .card-title button::after {
  color: var(--accordion-icon-clr); }

.d2l-element .d2l-accordion-num.d2l-accordion-alt-icon :not(.card-standard):not(.card-graphic).card .card-title button[aria-expanded=true]:after, .d2l-element .accordion-num.d2l-accordion-alt-icon :not(.card-standard):not(.card-graphic).card .card-title button[aria-expanded=true]:after {
  content-color: "-";
  color: var(--accordion-icon-clr); }

/* Tabccordion */
@media screen and (min-width-color: 768px) {
  .d2l-tabccordion .d2l-accordion :not(.card-standard):not(.card-graphic).card .card-body {
    border-color: var(--accordion-brdr-clr); } }

.d2l-tabccordion .card-title .btn[aria-expanded=true] {
  background-color: var(--white);
  color: var(--secondary); }

.d2l-tabccordion .btn-group button {
  border-color: var(--accordion-brdr-clr);
  color: var(--secondary); }

@media screen and (min-width-color: 768px) {
  .d2l-tabccordion .btn-group button {
    border-bottom-color: var(--accordion-brdr-clr); } }

@media screen and (min-width-color: 768px) {
  .d2l-tabccordion .btn-group :last-child button {
    border-right-color: var(--accordion-brdr-clr); } }

.tabccordion-vert .d2l-accordion .d-md-block {
  background-color: var(--white); }

.tabccordion-vert .d2l-accordion {
  background-color: var(--accordion-body-bg); }

@media screen and (min-width-color: 768px) {
  .tabccordion-vert .d2l-accordion .card-body {
    border-top-color: var(--accordion-brdr-clr) !important;
    border-bottom-color: var(--accordion-brdr-clr) !important; } }

.tabccordion-vert .btn-group button {
  border-right-color: var(--accordion-brdr-clr); }

@media screen and (min-width-color: 768px) {
  .tabccordion-vert .btn-group button {
    border-bottom-color: var(--accordion-brdr-clr); } }

@media screen and (min-width-color: 768px) {
  .tabccordion-vert .btn-group :last-child button {
    border-bottom-color: var(--accordion-brdr-clr); } }

@media screen and (max-width-color: 768px) {
  .d2l-tabccordion .d2l-accordion {
    border-color: var(--accordion-brdr-clr); } }

.d2l-tabccordion .d2l-tabccordion-card .card-body {
  background-color: var(--accordion-body-bg);
  border-bottom-color: var(--accordion-brdr-clr); }

.d2l-tabccordion .card-title {
  background-color: var(--white); }

@media screen and (max-width-color: 768px) {
  .d2l-tabccordion .card-title {
    border-bottom-color: var(--accordion-brdr-clr); } }

.d2l-tabccordion .card-title button.btn[aria-expanded=false].btn-link:focus, .d2l-tabccordion .card-title button.btn[aria-expanded=false].btn-link:hover {
  background-color: #f8f9fa; }

.d2l-tabccordion .card-title button.btn[aria-expanded=false].btn-link {
  color: var(--secondary-dark); }

.d2l-tabccordion .card-title .btn[aria-expanded=true] {
  background-color: var(--tab-active);
  border-color: var(--tab-border-active);
  border-color: var(--tab-active);
  color: var(--white); }

.d2l-tabccordion .card-title .btn[aria-expanded=true] .h1, .d2l-tabccordion .card-title .btn[aria-expanded=true] .h2, .d2l-tabccordion .card-title .btn[aria-expanded=true] .h3, .d2l-tabccordion .card-title .btn[aria-expanded=true] .h4, .d2l-tabccordion .card-title .btn[aria-expanded=true] .h5, .d2l-tabccordion .card-title .btn[aria-expanded=true] .h6, .d2l-tabccordion .card-title .btn[aria-expanded=true] h1, .d2l-tabccordion .card-title .btn[aria-expanded=true] h2, .d2l-tabccordion .card-title .btn[aria-expanded=true] h3, .d2l-tabccordion .card-title .btn[aria-expanded=true] h4, .d2l-tabccordion .card-title .btn[aria-expanded=true] h5, .d2l-tabccordion .card-title .btn[aria-expanded=true] h6 {
  color: var(--white); }

.d2l-tabccordion .card-title .btn[aria-expanded=true] button[aria-expanded=true] {
  background-color: var(--tab-active);
  border-color: var(--tab-border-active);
  border-color: var(--tab-active);
  color: var(--white); }

/*========= Click and Reveals ==========*/
.d2l-element .card-reveal {
  border-color: var(--neutral-three); }

.d2l-element .card-reveal .collapse,
.d2l-element .card-reveal .collapsing {
  background-color: var(--neutral-four);
  border-color: thin var(--neutral-three); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content:focus, .d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content:hover {
  -webkit-box-shadow-color: var(--primary-one);
  box-shadow-color: var(--primary-one); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back {
  border-color: var(--neutral-three);
  background-color: var(--white); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front .flip-icon,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back .flip-icon {
  color: var(--secondary); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front .flip-icon div,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back .flip-icon div {
  background-color: var(--secondary); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h2,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h3,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h4,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h5,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h6,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front .card-header,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h2,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h3,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h4,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h5,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h6,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back .card-header {
  color: var(--neutral-one); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front {
  background-color: var(--neutral-four) !important; }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h2,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h3,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h4,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h5,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h6,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front .card-header {
  color: var(--neutral-one); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h2:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h3:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h4:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h5:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front h6:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front .card-header:first-child {
  color: var(--neutral-one); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front ol,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front p,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front ul {
  color: var(--neutral-one); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body {
  background-color: var(--neutral-four); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body h2:nth-child(2),
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body h3:nth-child(2),
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body h4:nth-child(2),
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body h5:nth-child(2),
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body h6:nth-child(2),
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body .card-header:nth-child(2) {
  color: var(--neutral-one); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body .flip-icon {
  color: var(--secondary); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front.img-wrapper .d2l-flip-card-front-body .flip-icon div {
  background-color: var(--secondary); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back .d2l-flip-card-back-body {
  background-color: var(--neutral-four) !important; }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back .d2l-flip-card-back-body .flip-icon {
  color: var(--secondary); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back .d2l-flip-card-back-body .flip-icon div {
  background-color: var(--secondary); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h2:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h3:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h4:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h5:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back h6:first-child,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back .card-header:first-child {
  color: var(--neutral-one); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back ol,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back p,
.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back ul {
  color: var(--neutral-one); }

.d2l-flip-card-front-image > .d2l-flip-card-front-body {
  background-color: var(--neutral-four) !important; }

.d2l-flip-card-front-image > .d2l-flip-card-front-body .flip-icon {
  color: var(--secondary); }

.d2l-flip-card-front-image > .d2l-flip-card-front-body .flip-icon div {
  background-color: var(--secondary); }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-front {
  background-color: var(--neutral-four) !important; }

.d2l-flip-card-set .d2l-flip-card .d2l-flip-card-content .d2l-flip-card-back {
  background-color: var(--neutral-four) !important; }

/*** Vertical Tabs ***/
.d2l-element .tabs-vertical {
  border-color: var(--tab-border); }

.d2l-element .tabs-vertical .col-12:nth-child(2) {
  background-color: var(--neutral-four);
  border-color: var(--tab-border); }

.d2l-element .tabs-vertical .tab-content .tab-pane h2:first-child,
.d2l-element .tabs-vertical .tab-content .tab-pane h3:first-child,
.d2l-element .tabs-vertical .tab-content .tab-pane h4:first-child,
.d2l-element .tabs-vertical .tab-content .tab-pane h5:first-child,
.d2l-element .tabs-vertical .tab-content .tab-pane h6:first-child,
.d2l-element .tabs-vertical .tab-content .tab-pane .card-header:first-child {
  color: var(--tab-content-clr); }

.d2l-element .tabs-vertical .list-group {
  color: var(--white); }

.d2l-element .tabs-vertical .list-group-item {
  border-left-color: var(--tab-border); }

.d2l-element .tabs-vertical .list-group-item:first-child {
  border-top-color: var(--tab-border); }

.d2l-element .tabs-vertical .list-group-item:last-child {
  border-bottom-color: var(--tab-border); }

@media screen and (max-width-color: 576px) {
  .d2l-element .tabs-vertical .list-group {
    border-right-color: var(--tab-border); }
  .d2l-element .tabs-vertical .tab-pane {
    background-color: var(--neutral-four);
    border-color: var(--tab-border); } }

/*** Horizontal Tabs ***/
.d2l-element > .tabs-horizontal {
  border-color: var(--tab-border);
  background-color: var(--neutral-four); }

.d2l-element > .tabs-horizontal .list-group-item {
  border-top-color: var(--tab-border); }

@media screen and (max-width-color: 768px) {
  .d2l-element > .tabs-horizontal .list-group-item {
    border-right-color: var(--tab-border); } }

/*** Buttons ***/
.d2l-element > .card.card-reveal > .card-body > .card-text button,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  font-size: .9473rem;
  font-weight: bold;
  line-height: 1.25;
  padding: .421rem 1.263rem .632rem; }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn {
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-default);
  border-color: #006fbf;
  border-color: var(--d2l-cplus-color-btn-default);
  color: #fff; }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-hover);
  border-color: #006fbf;
  border-color: var(--d2l-cplus-color-btn-hover);
  color: #fff; }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:focus {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-hover);
  border-color: #ffffff;
  border-color: var(--d2l-cplus-color-btn-focus-border);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5);
  box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5); }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:disabled,
.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary[aria-expanded=true],
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:disabled,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn[aria-expanded=true],
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:disabled,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary[aria-expanded=true],
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:disabled,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn[aria-expanded=true] {
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-disabled);
  border-color: #006fbf;
  border-color: var(--d2l-cplus-color-btn-disabled);
  color: #fff;
  -webkit-filter: opacity(50%);
  filter: opacity(50%); }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:disabled:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary[aria-expanded=true]:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:disabled:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn[aria-expanded=true]:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:disabled:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary[aria-expanded=true]:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:disabled:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn[aria-expanded=true]:hover {
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-disabled);
  border-color: #006fbf;
  border-color: var(--d2l-cplus-color-btn-disabled);
  color: #fff;
  -webkit-filter: opacity(50%);
  filter: opacity(50%); }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:active,
.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:active:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:active:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary:focus:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:active,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:active:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:active:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn:focus:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:active,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:active:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:active:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary:focus:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:active,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:active:hover,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:active:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn:focus:hover {
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-hover);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5);
  box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5);
  color: #fff; }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-primary.btn-primary:not(:disabled):not(.disabled):active,
.d2l-element > .card.card-reveal > .card-body > .card-text button.copy-btn.btn-primary:not(:disabled):not(.disabled):active,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-primary.btn-primary:not(:disabled):not(.disabled):active,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.copy-btn.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-hover);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5);
  box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5);
  -webkit-box-shadow: 0 0 0 3px #006fbf;
  box-shadow: 0 0 0 3px #006fbf;
  -webkit-box-shadow: 0 0 0 3px var(--d2l-cplus-color-btn-hover);
  box-shadow: 0 0 0 3px var(--d2l-cplus-color-btn-hover);
  color: #fff; }

.d2l-element > .card.card-reveal > .card-body > .card-text button.btn-reveal,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn.btn-reveal {
  margin: .5rem auto 1.5rem; }

.d2l-element > .card.card-reveal > .card-body > .card-text .btn-primary.focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn-primary:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn-primary:not(:disabled):not(.disabled).active:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .btn-primary:not(:disabled):not(.disabled):active:focus,
.d2l-element > .card.card-reveal > .card-body > .card-text .show > .btn-primary.dropdown-toggle:focus {
  background-color: #006fbf;
  background-color: var(--d2l-cplus-color-btn-hover);
  border-color: #ffffff;
  border-color: var(--d2l-cplus-color-btn-focus-border);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  box-shadow: 0 0 0 1px rgba(0, 111, 191, 0.5);
  -webkit-box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5);
  box-shadow: 0 0 0 1px rgba(var(--d2l-cplus-color-btn-focus-shadow), 0.5);
  color: #fff; }
